@font-face {
    font-family: 'NiseSega';
    font-style: normal;
    font-weight: bold;
    src: url('NiseSega Cyrillic.ttf');
}

div h1 {
    font-family: "NiseSega";
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'NiseSega';
    line-height: 10vh;
    font-size: 2em;
    margin: 10px;
    padding: 0;
}

div h4 {
    font-family: "NiseSega";
    line-height: 10vh;
    font-size: 1.2em;
    margin: 2px;
    padding: 0;
}

h5 {
    font-family: 'NiseSega';
    line-height: 10vh;
    font-size: 1em;
    margin: 2px;
    padding: 0;
}


