.card {
  position: relative;
	/* display: flex; */
	justify-content: center;
  height: 100%;
	width: 100%;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #111;
	text-align: center;
	border-radius: 0.5rem;
	overflow: hidden;
	backface-visibility: hidden;
	transition: transform 200ms ease-in-out;
}
.card.visible .card-back {
  transform: rotateY(180deg);
}

.card.visible .card-front {
  transform: rotateY(0)
}

.card-back img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.card-front {
  background-color: #ddd;
  border: 0.1em solid #111;
  transform: rotateY(180deg);
}

h4.name {
  line-height: 2rem;
}

h6.name {
  line-height: 1rem;
}

.grows { transition: all 75ms linear; }
.grows:active { transform: scale(1.08); }