.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.overlay.visible {
  display: flex;
  z-index: 111;
  animation: overlay-grow 500ms forwards;
}

.hidden {
  animation: overlay-grow-shrink 1000ms forwards;
}

@keyframes overlay-grow {
  0% {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  100% {
    background-color: rgba(0, 0, 0, .8);
    font-size: 2em;
  }
}

@keyframes overlay-grow-shrink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.overlay-text {
  display: 'flex';
  align-items: center;
  background-color: rgba(38, 117, 141, 0.9);
  text-align: center;
  margin: 30px;
  margin-bottom: 20vh;
  z-index: 100;
  padding: 2em;
  border-radius: 2em; 
}